/* Base structure */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

/* Containers */
.container {
  width: 80%;
  margin: auto;
}
